/* Navbar.module.css */

.navbar {
  background-color: #5B3CF9;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.3;
}

.links a {
  margin-left: 1rem;
  text-decoration: none;
  color: #ffffff;
}

.links a:hover {
  color: #60a5fa;
}
